In [1]:
#for comments use # or triple qutoes """h"""

In [1]:
#1 Assigning variables and multi line comments.
n=10
n1=9.7
n2="jay"
print(n)
print("Float is",n1)
print("My name is",n2)
"""This is multi line comment."""

10
Float is 9.7
My name is jay

'This is multi line comment.'

In [3]:
#2 Assinging multiple variables
a,b,c=12,6.6,"Roy"
print(a)
print(b)

12
6.6

In [4]:
#3 single value in multiple variable
a=b=40
print(a)
print(b)

40
40

In [5]:
#4 date types in python:
"""5 types of data types are there
1)Number has 3 classes:
int,float,complex ,use type() to find this, to generate boolean value use isinstance(4,int) it takes 2 parameter.
2)string
3)list
4)tuple
5)dictionary"""

'5 types of data types are there\n1)Number has 3 classes:\nint,float,complex ,use type() to find this, to generate boolean value use isinstance(4,int) it takes 2 parameter.\n2)string\n3)list\n4)tuple\n5)dictionary'

In [4]:
#5 
s=12
x=3.5
print(type(s))
print(type(x))
print(isinstance(4,int))
print(isinstance(4,str))

<class 'int'>
<class 'float'>
True
False

In [12]:
#6 String datatype and its operations
n="Akashh Technolab "
print(n)
print(n[0])
print(n[2:5])#from 2 to 4
print(n[2:])
print(n[:2]) #from 0 to 1
print(2*n)
print(n+" Hello")

Akashh Technolab
A
ash
ashh Technolab
Ak
Akashh Technolab Akashh Technolab
Akashh Technolab  Hello

In [5]:
#7 list datatype and its operations
#list is mutable and [] are used to declare list.
l=[2,3,4,5,"jay"]

print(l[-2])
print(l)
print(l[2])
print(l[:3])
print(l[1:4])
print(type(l))

5
[2, 3, 4, 5, 'jay']
4
[2, 3, 4]
[3, 4, 5]
<class 'list'>

In [8]:
#8 Tuple datatype and its operations.
#tuple is immutable, it means once created it can cannot be modified.() brackets are used to declare tuple.
t=(2,3,"Raj",6)
print(t)
print(type(t))
print(t[0])
print(t[:2]) #0,1 inlcued
print(t[1:])
print(t[1:3])

(2, 3, 'Raj', 6)
<class 'tuple'>
2
(2, 3)
(3, 'Raj', 6)
(3, 'Raj')

In [19]:
#9 dictionary datatype and its operations
#It is kind of hash type table. 
d1={1:"Hello","a1":10,3:300}
print(d1)
print(d1[1])
print(d1["a1"])
print(d1[3])

{1: 'Hello', 'a1': 10, 3: 300}
Hello
10
300